<header>
    <a href="/index.html" id="logo-image-container">
        <img src="/src/images/symbols/logo.png" alt="logo" />
        <p>Travel <br> Planet</p>
    </a>
    <nav>
        <ul class="main-navbar">

            <li>
                <a href="/place.html">DESTINATIONS</a>
            </li>

            <li>
                <a href="/book.html">BOOKING</a>
            </li>

            <li>
                <a href="/blog.html">BLOG</a>
            </li>

            <li>
                <a href="/aboutme.html">ABOUT ME</a>
            </li>
        </ul>
    </nav>
    <button class="nav-toggle" aria-label="Toggle menu">
        ☰ Menu
    </button>
</header>