main {
    display: flex;
    flex-direction: column;
}

.place-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.place-header div {
    flex: 1 1 50%;
    min-width: 360px;
}

.place-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(32, 37, 40);
    gap: 60px;
}

.place-title span {
    display: inline-block;
    font-weight: 600;
    line-height: 1.4;
    margin: 30px;
}

.place-location {
    font-size: 68px;
    background-color: rgb(246, 208, 77);
    padding: 10px 88px 10px 88px;
    transform: rotate(-4deg);
}

.place-summary {
    font-size: 34px;
    color: white;
}

.place-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.place-cover-wrapper {
    aspect-ratio: 3 / 2;
    overflow: hidden;
}

#place-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    width: 100.6%;
    border-bottom: 1px solid gray;
}

.place-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.place-bar a {
    border: 2px solid blue;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
}

.place-bar a:hover {
    color: white;
    background-color: blue;
}

.place-bar span {
    display: inline-block;
    font-weight: 600;
    line-height: 1.4;
    font-size: 24px;
}

.carousel {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.carousel-viewport {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    gap: 28px;
    transition: transform 0.4s ease;
}

.slide {
    flex: 0 0 auto;
    width: min(900px, 100%);
    aspect-ratio: 3 / 2;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.controls button {
    border: none;
    font-size: 18px;
    cursor: pointer;
    background: none;
}

.controls button:hover {
    border-bottom: 1px solid black;
}

#place-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
}

#place-content>div {
    flex: 1 1 0;
}

.place-side {
    width: 100%;
}

.place-side-img {
    position: sticky;
    top: 70px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

#place-video {
    width: 100%;
}


.place-video {
    width: 100%;
}

.video-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}

.video-wrapper iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.overview {
    font-size: 40px;

    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.highlights {
    font-size: 40px;
    margin-bottom: 20px;

    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.highlight-item span {
    font-size: 34px;
}

@media (max-width: 768px) {
    #place-content {
        flex-direction: column;
    }

    .place-side {
        flex: 1 1 100%;
        height: auto;
    }

    #place-content>div:last-child {
        flex: 1 1 100%;
    }

    .place-side-img {
        position: static;
    }
}